body,h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: yellow;
    background-color: black;
}

hr{
    width: 500px;
    col
}

button{
    color:#ffe81f;
    border-radius: 4px;
    border: 4px solid yellow;
    background:transparent;
    font-family:"Libre Franklin",sans-serif;
    font-size: x-large;
    letter-spacing:1px;
    text-align:center;
    margin-right:20px;
} 

#errors{
    color: yellow;
}

#grid {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.tile{
  width: 48px;
  height: 48px;
  border: 1px solid yellow; 

  /* Text */
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#digits{
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid yellow;
    margin: 2px;  
  
    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.number-selected {
    background-color: gray;
}

.tile-start {
    background-color: black;
    color: yellow;
}
.horizontal-line {
    border-bottom: 1px solid yellow;
}
.vertical-line {
    border-right: 1px solid yellow;
}